<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Users
            </div>
            <div class="card-body chatbox p-0">
                <ul class="list-group list-group-flush friend-list-items">


                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="list-group-item friend_chat_active hover_remove">

                <img src="http://localhost/mirrormefashion/public/uploads/avatar.png" alt="jahsf uddind" class="img-responsive img-circle avatar">
                <p class="">
                    jahsf uddind
                </p>
            </div>
            <div class="card-body message-box">

                <div class="single-message  sent ">

                    HI
                    <br><small class="text-muted w-100">Sent <em>2024-01-13 11:58:39</em></small>
                </div>


                <div class="single-message  sent ">

                    Hi
                    <br><small class="text-muted w-100">Sent <em>2024-01-13 11:58:06</em></small>
                </div>




            </div>
        </div>
        <div class="chat-massage-footer">
            <form action="http://localhost/mirrormefashion/user/send-messange" method="POST">
                <input type="hidden" name="_token" value="eQcZ2szRxnY8kX6dh7O60i3jhGJEsUux9FO9Wpmr">
                <div class="row">
                    <div class="col-md-12">
                        <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="dnXmp"></grammarly-extension>
                        <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="dnXmp"></grammarly-extension>
                        <input type="hidden" value="188" name="user_id">
                        <textarea class="form-control" name="message" id="" spellcheck="false"></textarea>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary d-inline-block w-100 mt-2"><i class="fa fa-paper-plane"></i> Send</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>